# Supabase Database & Storage
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=

# GitHub Token (Fallback opcional)
GITHUB_TOKEN=

